[data-icon="building_icons/advanced_display.png"] .icon {
    background-image: url("../res/building_icons/advanced_display.png") !important;
}

[data-icon="building_icons/signal_transport.png"] .icon {
    background-image: url("../res/building_icons/signal_transport.png") !important;
}

[data-icon="building_icons/user_input.png"] .icon {
    background-image: url("../res/building_icons/user_input.png") !important;
}

[data-icon="building_icons/display_controller.png"] .icon {
    background-image: url("../res/building_icons/display_controller.png") !important;
}

$buildings: (
    advanced_display,
    display_controller,
    signal_transport,
    signal_transport-fiber_link,
    user_input,
    user_input-mouse_reader
);

@each $building in $buildings {
    [data-icon="building_tutorials/#{$building}.png"] {
        background-image: url("../building_tutorials/#{$building}.png") !important;
    }
}
